@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn .2s ease-in forwards;
}

@-webkit-keyframes slideInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
  
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInUp {
    from {
        opacity:0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
  
    to {
        opacity:1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
  
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }
}
@keyframes slideInDown {
    from {
        opacity:0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
  
    to {
        opacity:1;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }
}

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}

.animateSlideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: var(--animate-delay);
    animation-duration: var(--animate-delay);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animateSlideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: var(--animate-delay);
    animation-duration: var(--animate-delay);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

[data-nc-content-tab] {
    @apply hidden
}

.currentTab[data-nc-content-tab] {
    @apply block
}

[data-tab-target]{
    @apply py-1.5 px-2 border-transparent border-b-2 border-opacity-0 transition-all duration-200 hover:border-orange-600 hover:text-orange-600
}

.currentTab[data-tab-target] {
    @apply block border-b-2 border-orange-500 border-opacity-100 text-orange-500
}


.sidebar
{
    @apply hidden 
        lg:block 
        fixed 
        z-20 
        bg-white 
        dark:bg-slate-900
        /* shadow-md  */
        inset-0 
        border-r
        dark:border-slate-800
        xl:inset-auto 
        top-[3.5125rem] 
        right-auto 
        sm:w-[17rem] 
        pb-10 
        px-2
        overflow-y-auto 
        h-full
}

.currentActive {
    @apply text-slate-800 bg-slate-200
}

pre[class*="language-"], 
pre[class*="language-"] ,
code[class*="language-"], 
code[class*="language-"]  {
	@apply rounded-xl w-full
}