<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='<%= htmlWebpackPlugin.options.style %>'>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="app" class="w-full flex flex-col items-center justify-center">

        <div class="col-span-1 mx-auto mt-5">
            <button onclick="clickkk()" class="w-[32rem] border py-2 px-4 rounded-md focus:outline-none">Click ME</button>
        </div>

        <nc-modal id="ncModal" hidden>
            <div>
                <button class="ncModalRemove">
                    remove
                </button>
            </div>
        </nc-modal>
    <script>
        function clickkk() {
            NCModal({
                id          : "ncModal",    // This ID is By defualt You can change what ever you want 
                // className   : "flex h-full min-h-[95vh] overflow-y-auto max-w-[500px] mx-auto w-full p-5 rounded-md shadow-md transition-all duration-300 bg-red-500/50",
                // animateIn   : true,         // Better not change this option
                // clickAway   : false,        // Better not change this option
                removeBTN   : "ncModalRemove"
            });
        }
    </script>
    </div>
</body>
</html>